@import "../../styles/utils/setting";
@import "../../styles/utils/tools";

.loginregister-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  .loginregister-button {
    color: black;

    -webkit-transform: translateZ(0);
    transform: scale(0.95);
    font-size: 1.05em;
    -webkit-transition: transform 200ms;
    transition: transform 200ms;
  }
  .loginregister-button:hover,
  .loginregister-button-mobile:hover {
    color: colors(warnDark);

    transform: scale(1);
  }

  .loginregister-button-mobile {
    color: white;
    transition: 0.3s;
  }
}

.font-initial {
  font-family: Arial, sans-serif;
}
