<header class="header">
  <div class="header-wrapper">
    <div class="header-top">
      <div class="header-top-section trending-container">
        <span>TRENDING</span>
        <div class="trending-new-container">
          <a href="#">trending new</a>
          <div class="trending-new-navigation">
            <button><i class="fa-solid fa-angle-left"></i></button>
            <button><i class="fa-solid fa-angle-right"></i></button>
          </div>
        </div>
      </div>
      <div class="header-top-section date-container">
        <p>{{ currentDate }}</p>
      </div>
      <div class="header-top-section social-networks-container">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
      </div>
      <div class="header-top-section loginregister-button-container">
        <button>Login/Register</button>
      </div>
    </div>
    <div class="header-bottom">
      <div class="header-bottom-section">
        <nav>
          <ul>
            <a href=""><li>HOME</li></a>
            <a href=""><li>BLOGS</li></a>
            <a href=""><li>REPORTS</li></a>
            <a href=""><li>ABOUT US</li></a>
            <a href=""><li>CONTACT US</li></a>
          </ul>
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </nav>
      </div>
    </div>
    <div class="main-header">
      <button><i class="fa-solid fa-bars"></i></button>
      <div class="main-header-background-container">
        <img
          class="main-header-background"
          src="assets/backgroundBanner.jpeg"
          alt="RocketNews background banner"
        />
      </div>
      <img class="logo" src="assets/logo.png" alt="RocketNews" />
    </div>
  </div>
</header>
