<header class="header">
  <div class="header-wrapper">
    <div class="header-top">
      <div class="header-top-section trending-container">
        <span class="trending-red">TRENDING</span>
        <div class="trending-new-container">
          <div class="trendig-new-text-container">
            <a href="#"
              ><span
                [attr.title]="trendings[currentStringIndex]"
                class="trending-new-text"
              ></span
            ></a>
          </div>
        </div>
        <div class="trending-new-navigation">
          <button (click)="decrementStringIndex()">
            <i class="fa-solid fa-angle-left"></i>
          </button>
          <button (click)="incrementStringIndex()">
            <i class="fa-solid fa-angle-right"></i>
          </button>
        </div>
      </div>
      <div class="header-top-section date-container">
        <p>{{ currentDate }}</p>
      </div>
      <div class="header-top-section social-networks-container">
        <a href="https://www.facebook.com/" target="_blank"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <a href="https://www.instagram.com/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://twitter.com/" target="_blank"
          ><i class="fa-brands fa-twitter"></i
        ></a>
      </div>
      <div class="header-top-section loginregister-button-container">
        <app-login-button class="loginregister-component"></app-login-button>
      </div>
    </div>
    <div
      class="header-bottom"
      [ngClass]="{
        visible: menuButtonClicked
      }"
    >
      <div class="header-bottom-section">
        <nav id="nav">
          <ul>
            <a
              routerLink=""
              (click)="setSelectedTab('/')"
              [ngClass]="{ active: selectedTab === '/' }"
              ><li>HOME</li></a
            >
            <a
              routerLink="/forum"
              (click)="setSelectedTab('/forum')"
              [ngClass]="{ active: selectedTab === '/forum' }"
              ><li>FORUM</li></a
            >
            <a
              routerLink="/blogs"
              (click)="setSelectedTab('/blogs')"
              [ngClass]="{ active: selectedTab === '/blogs' }"
              ><li>BLOGS</li></a
            >
            <a
              routerLink="/reports"
              (click)="setSelectedTab('/reports')"
              [ngClass]="{ active: selectedTab === '/reports' }"
              ><li>REPORTS</li></a
            >
            <a
              routerLink="/about"
              (click)="setSelectedTab('/about')"
              [ngClass]="{ active: selectedTab === '/about' }"
              ><li>ABOUT US</li></a
            >
            <a
              routerLink="/contact"
              (click)="setSelectedTab('/contact')"
              [ngClass]="{ active: selectedTab === '/contact' }"
              ><li>CONTACT US</li></a
            >
          </ul>
          <button (click)="changeSearchVisibility()">
            <i class="fa-solid" [ngClass]="searchButtonClass"></i>
          </button>
        </nav>
      </div>
    </div>
    <div class="main-header">
      <div class="search-input-container">
        <div
          class="search-input"
          [ngClass]="{
            visible: searchButtonClicked
          }"
        >
          <input type="text" />
          <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
      </div>
      <button
        class="menu-button"
        id="menu-button"
        (click)="changeMenuVisibility()"
      >
        <i
          class="fa-solid"
          id="menu-button-icon"
          [ngClass]="menuButtonClass"
        ></i>
      </button>
      <div class="main-header-background-container">
        <img
          class="main-header-background"
          src="assets/backgroundBanner.jpeg"
          alt="RocketNews background banner"
        />
      </div>
      <img class="logo" src="assets/logo.png" alt="RocketNews" />
    </div>
  </div>
</header>
