<section class="section">

    <h2>Contact Us</h2>
    <div class="separation-bar"></div>
    
    <div class="container">
        <form class="form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    
            <div class="form-group">
                <label class="form-group-label" for="name">
                        Full name <span class="required">*</span></label>
                <input type="text" class="form-group-field no-focus" id="name" required
                        placeholder="First and last name"
                        ngModel name="name" #name="ngModel">
                <div [hidden]="!(name.invalid && (name.dirty || name.touched))"
                    class="alert">
                Full name required
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-group-label" for="email">
                        Email address <span class="required">*</span></label>
                <input type="email" class="form-group-field no-focus" id="email" required
                        placeholder="email@address.com"
                        ngModel name="email" #email="ngModel" email>
                <div [hidden]="!(email.invalid && (email.dirty || email.touched))" class="alert">
                        Email not valid
                </div>
            </div>
            
            <div class="form-group">
                <label class="form-group-label" for="country">Country</label>
                <select id="country" class="form-group-field no-focus">
                        <option value=""></option>
                        <option *ngFor="let country of countries" 
                                [value]="country">
                                {{country}}
                        </option>
                </select>
            </div>
    
            <div class="form-group">
                <label class="form-group-label" for="subject">
                        Subject <span class="required">*</span></label>
                <textarea class="form-group-field message-field no-focus" id="subject" name="subject" required
                        placeholder="Write your message here.."
                        ngModel name="subject" #subject="ngModel"></textarea>
                <div [hidden]="subject.valid || subject.pristine" class="alert">
                        This message is required
                </div>
            </div>
    
            <div class="form-group">
                <p><span class="required">*</span> Required fields.</p>
                <button type="submit" class="button" #submit
                        [disabled]="!contactForm.form.valid">
                        Submit</button>
            </div>
        </form>
    </div>
</section>
