<h4 *ngIf="!singUp" class="card-header">Login</h4>
<h4 *ngIf="singUp" class="card-header">Register</h4>
<div class="card-body">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div *ngIf="singUp" class="mb-3">
      <label class="form-label">Full name</label>
      <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
      <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
          <div *ngIf="f['name'].errors['required']">Full Name is required</div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">E-mail</label>
      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">E-mail is required</div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
        <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
      </div>
    </div>

    <div>
      <button *ngIf="!singUp" class="btn btn-primary">Login</button>
      <button *ngIf="singUp" class="btn btn-primary">Register</button>
      <br>
      <a *ngIf="!singUp" (click)="singUpChange()" class="btn btn-link">Register</a>
      <a *ngIf="singUp" (click)="singUpChange()" class="btn btn-link">Login</a>
    </div>
  </form>
</div>