<div class="whole-container">
  <div>
    <h2>{{ title }}</h2>
    <div class="separation-bar"></div>
  </div>
  <div class="main-container">
    <div class="publicity" [style.display]="showPublicity ? 'block' : 'none'">
      <button (click)="showPublicity = false">X</button>
      <app-paid-service></app-paid-service>
    </div>
    <div class="articles" [style.display]="loading ? 'hidden' : 'block'">
      <section class="articles-section" *ngIf="dataName !== 'reports'">
        <div
          *ngFor="let article of articles; first as first"
          class="articles-container"
          [ngClass]="{ 'first-element': first }"
          [style.display]="loading ? 'hidden' : 'block'"
        >
          <div class="image-date-container">
            <p>
              <i class="fa-regular fa-calendar"></i>
              &nbsp;
              {{ getDate(article.published_at) }}
            </p>
            <div class="Spinner" *ngIf="imageLoading[article.id]">
              <span class="loader"></span>
            </div>
            <a href="{{ article.url }}" target="_blank">
              <img
                [style.display]="imageLoading[article.id] ? 'hidden' : 'block'"
                [src]="article.image_url"
                alt="{{ article.title }}"
                (load)="onImageLoad(article.id)"
              />
            </a>
          </div>
          <a class="title" href="{{ article.url }}" target="_blank">{{
            article.title
          }}</a>
          <div
            class="summary"
            *ngIf="isDesktop() && isFullElement(articles, article)"
          >
            <p>{{ article.summary }}</p>
            <p class="updated-date">
              Updated at: {{ getDate(article.updated_at) }}
            </p>
          </div>
        </div>
      </section>
      <section class="articles-section" *ngIf="dataName === 'reports'">
        Reports view goes here
      </section>
    </div>
  </div>
  <div class="ghost-articles" *ngIf="loading && dataName !== 'reports'">
    <div class="ghost-article">
      <div class="ghost-content animation-fade"></div>
      <div class="ghost-content animation-fade"></div>
      <div class="ghost-content animation-fade"></div>
    </div>
    <div class="ghost-article">
      <div class="ghost-content animation-fade"></div>
      <div class="ghost-content animation-fade"></div>
      <div class="ghost-content animation-fade"></div>
    </div>
    <div class="ghost-article">
      <div class="ghost-content animation-fade"></div>
      <div class="ghost-content animation-fade"></div>
      <div class="ghost-content animation-fade"></div>
    </div>
    <div class="ghost-article">
      <div class="ghost-content animation-fade"></div>
      <div class="ghost-content animation-fade"></div>
      <div class="ghost-content animation-fade"></div>
    </div>
    <div class="ghost-article">
      <div class="ghost-content animation-fade"></div>
      <div class="ghost-content animation-fade"></div>
      <div class="ghost-content animation-fade"></div>
    </div>
    <div class="ghost-article">
      <div class="ghost-content animation-fade"></div>
      <div class="ghost-content animation-fade"></div>
      <div class="ghost-content animation-fade"></div>
    </div>
  </div>
</div>
