@import "../../styles/utils/setting";
@import "../../styles/utils/tools";

h2 {
  text-align: center;
  margin: 15px 0;
  font-weight: bold;
}

.publicity {
  position: relative;
  width: 95%;
  margin: auto;
  button {
    font-family: Arial;
    line-height: normal;
    position: absolute;
    top: 0;
    right: 0;
    font-size: $fontsizeHeadingThree;
    line-height: normal;
    color: white;
    border: 1px solid red;
    border-radius: 50%;
    padding: 2px 7px;
    margin: 5px 3%;
    z-index: 1;
  }
  button:hover {
    border: 1px solid colors(white);
    color: colors(white);
  }
}

.separation-bar {
  width: 95%;
  height: 2px;
  margin: auto;
  background: linear-gradient(
    to right,
    colors(black) 10%,
    colors(warnDark) 50%
  );
  margin-bottom: 20px;
  max-width: 1500px;
}

.articles-section {
  width: 100%;
  max-width: 1100px;
  margin: 15px auto 15px auto;
  .articles-container {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    .image-date-container {
      position: relative;
      p {
        width: 100%;
        text-align: start;
        position: absolute;
        right: 0;
        padding: 3px 7px;
        color: white;
        background-color: black;
        opacity: 0.7;
        font-size: fontsizes(smallOne);
        font-weight: bolder;
      }
      img {
        width: 100%;
        object-fit: cover;
        min-height: 200px;
      }
    }

    .title {
      font-size: fontsizes(normal);
      font-weight: bold;
      color: colors(black);
    }
    .title:hover {
      text-decoration: underline;
    }

    .mini-separation-bar {
      width: 100%;
      height: 1px;
      margin: auto;
      margin-top: 20px;
      background-color: colors(black);
    }
  }
}

.reports-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
  .first-element {
    .summary {
      div {
        .title {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

.load-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.ghost-articles {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  max-width: 1000px;
  margin: auto;
  gap: 20px;
  .ghost-article {
    grid-column: span 1;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ghost-content {
      width: 100%;
      margin: 5px 0;
      height: 50px;
      background-color: colors(grayLight);
      &.animation-fade {
        animation: fadeAnimation 2s infinite ease-in-out;
        animation-delay: 1s;
      }
    }
    .ghost-content:nth-child(2) {
      margin: 10px 0;
      height: 150px;
    }
  }
}

.first-element,
.articles-container:nth-child(6n - 5) {
  grid-column: span 2;
  grid-row: span 2;
  margin: 10px;
  background-color: colors(secondaryDark);
  color: white;
  .title:not(.articles-container) {
    color: white;
    font-size: fontsizes(headingTwo);
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0 2%;
  }
  .summary {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    .updated-date {
      align-self: end;
    }
  }
  .mini-separation-bar {
    display: none;
  }
}

@keyframes fadeAnimation {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@include from(tb) {
  .articles-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
    .articles-container {
      padding: 15px 10px;
      .image-date-container {
        img {
          height: 200px;
        }
        p {
          padding: 1px 7px;
        }
      }
    }
    .mini-separation-bar {
      display: none;
    }
  }
  .articles-container:nth-child(6n - 5),
  .articles-container:nth-child(6n - 4) {
    grid-column: span 2;
    .image-date-container {
      img:not(.image-date-container) {
        height: 300px;
      }
    }
    .mini-separation-bar {
      display: block;
    }
  }

  .articles-container:nth-child(6n - 1),
  .articles-container:nth-child(6n) {
    border-bottom: 3px solid black;
    margin-bottom: 40px;
  }

  .ghost-articles {
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
  }
}

@include from(xd) {
  .articles-container:nth-child(2) {
    .image-date-container {
      img:not(.image-date-container) {
        height: 150px;
      }
    }
  }

  .main-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1500px;
    margin: auto;

    .articles {
      width: 100%;
      max-width: 1100px;
    }

    .articles-section {
      flex-grow: 2;
      grid-template-columns: repeat(3, 1fr);
      margin: auto;
      width: 100%;
    }

    .publicity {
      width: 30%;
      position: sticky;
      top: 0;
      height: 100%;
      margin: 0;
      margin-top: 10px;
    }
  }

  .articles-container:nth-child(6n - 4),
  .articles-container:nth-child(6n) {
    grid-column: span 1;
    grid-row: span 1;
    .image-date-container {
      img:not(.image-date-container) {
        height: 200px;
      }
    }
    .mini-separation-bar {
      display: none;
    }
  }

  .articles-container:nth-child(6n - 2) {
    border-bottom: 3px solid black;
    margin-bottom: 40px;
  }

  .ghost-articles {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 1100px;
  }
}
