<h2>Latest news</h2>
<div class="separation-bar"></div>
<section class="articles-section">
  <div *ngFor="let article of articles" class="articles-container">
    <div class="image-date-container">
      <p>
        <i class="fa-regular fa-calendar"></i>
        &nbsp;
        {{ getDate(article.published_at) }}
      </p>
      <a href="#">
        <img src="{{ article.image_url }}" alt="{{ article.title }}"
      /></a>
    </div>
    <a class="title" href="#">{{ article.title }}</a>
    <div class="mini-separation-bar"></div>
  </div>
</section>
