section {
  visibility: hidden;
  opacity: 0;

  &.open {
    visibility: inherit;
    opacity: 1;
    z-index: 1;
  }

  display: block;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.5);
  // transition: opacity 5s ease-in;
  animation: fadeIn 250ms ease-in;
  

  .paid-registration-modal {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    margin: auto;

    // height: 200px;
    // width: 300px;

    background: white;
    padding: 64px;

    border-radius: 8px;

    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  }

  button.close {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;

    // position: absolute;
    // top: 0;
    // left: 0;

    padding: 16px;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}