<section class="section">
  <h2>About Us</h2>
  <div class="separation-bar"></div>
  
  <article class="container">
    <h3>Welcome to RocketNews - Your Gateway to Space Flight News</h3>
    <div class="separation-bar-slim"></div>
    <h4>Explore the Cosmos with RocketNews</h4>
    <div class="separation-bar-slim-short"></div>
    <p>
      At RocketNews, <strong>we are passionate about space exploration and the wonders of the universe</strong>. Our mission is to be your ultimate source for up-to-date and comprehensive space flight news from across the web. Whether you're a seasoned astronomer or a curious enthusiast, we've got something for everyone.
    </p>

    <h3>Why RocketNews?</h3>
    <div class="separation-bar-slim"></div>
    <h4>Curated News from the Vast Cosmos</h4>
    <div class="separation-bar-slim-short"></div>
    <p>
      At RocketNews, we understand that space is vast, and the amount of information available can be overwhelming. That's why our team of dedicated space enthusiasts scours the internet to <strong>bring you the most relevant and captivating space-related news</strong>. From the latest space missions to breakthrough discoveries and cosmic events, we've got it all covered.
    </p>
    <h4>Your One-Stop Space News Hub</h4>
    <div class="separation-bar-slim-short"></div>
    <p>
      RocketNews is your convenient one-stop hub for all things related to space flight. Instead of hopping from one website to another, <em>we've gathered the most reputable and trusted space news sources under one roof</em>. Explore an extensive collection of space-themed articles, reports, and blog posts—all at your fingertips.
    </p>
    <h4>Engage with the Space Community</h4>
    <div class="separation-bar-slim-short"></div>
    <p>
      Beyond being a news platform, RocketNews fosters a thriving community of space enthusiasts. <strong>Premium users gain access to <a routerLink="/forum" class="link link-btn">our exclusive "Forum" page</a></strong>, where they can engage in lively discussions, share insights, and exchange ideas with like-minded individuals. It's the perfect place to connect, learn, and be inspired by the cosmos.
    </p>

    <h3>Our Vision</h3>
    <div class="separation-bar-slim"></div>
    <h4>Inspiring the Next Generation of Space Explorers</h4>
    <div class="separation-bar-slim-short"></div>
    <p>
      At RocketNews, we believe that the wonders of space should be accessible to everyone. Our vision is to inspire the next generation of space explorers, scientists, and dreamers. By providing accurate and captivating space news, we hope to ignite curiosity and foster a deeper understanding of our place in the universe.
    </p>

    <h3>Join Us on this Cosmic Journey</h3>
    <div class="separation-bar-slim"></div>
    <h4>Become a Part of the RocketNews Community</h4>
    <div class="separation-bar-slim-short"></div>
    <p>
      Are you ready to embark on a cosmic journey with us? Whether you're an aspiring astronaut, an astronomy aficionado, or simply curious about the mysteries of the cosmos, RocketNews welcomes you to be a part of our community. <a routerLink="/login" class="link link-btn">Join us today</a> and stay informed about the latest space flight news, engage with fellow space enthusiasts, and explore the wonders of the universe.
    </p>
    <p>
      Follow RocketNews on our <a routerLink="/blogs" class="link link-light">"Blogs" page</a> for in-depth articles, on our <a routerLink="/reports" class="link link-light">"Reports" page</a> for detailed analyses, and join our exclusive <a routerLink="/forum" class="link link-light">"Forum" page</a> to connect with premium users. Together, let's reach for the stars!
    </p>

    <h4>Our Trusted News Sources</h4>
    <div class="separation-bar-slim-short"></div>
    <p>
      At RocketNews, we take pride in delivering the most reliable and compelling space flight news to our readers. We curate our content from a carefully selected list of reputable websites known for their expertise and dedication to space exploration. <strong>Our more than 30 trusted news sources include:</strong>
    </p>

    <div class="list-container">
      <ul>
        <li><a href="https://www.nasa.gov/">NASA</a></li>
        <li><a href="https://www.space.com/">Space.com</a></li>
        <li><a href="https://www.cnbc.com/">CNBC</a></li>
        <li><a href="https://www.esa.int/">European Space Agency (ESA)</a></li>
        <li><a href="https://www.nasaspaceflight.com/">NASASpaceflight</a></li>
        <li><a href="https://www.planetary.org/">The Planetary Society</a></li>
        <li><a href="https://www.spacex.com/">SpaceX</a></li>
        <li><a href="https://spacenews.com/">SpaceNews</a></li>
        <li><a href="https://www.spaceflightinsider.com/">SpaceFlight Insider</a></li>
        <li><a href="https://arstechnica.com/">Arstechnica</a></li>
        <li><p>And many more..!</p></li>
      </ul>
    </div>
    
    <p>
      At RocketNews, we believe in the power of accurate information and acknowledge the dedication of these websites to share the wonders of space with the world. By bringing together news from these sources, we aim to create a comprehensive and curated experience for all space enthusiasts.
    </p>

    <h3>Contact Us</h3>
    <div class="separation-bar-slim"></div>
    <p>
      We value your feedback and questions. Reach out to us at
      <button routerLink="/contact" class="link link-btn"> Contact Us </button>
      or follow us on:
    </p>
    <div class="social-networks-container">
      <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    </div>

  </article>
</section>
