<div class="publicity-container">
  <section class="publicity-section">
    <p>Discover a whole new level of forum experience!</p>
    <p>
      Have you already tried our
      <a routerLink="/forum" class="forum-link">forum</a>? Gain access to
      privileged features such as priority posts, highlighted comments, and a
      lot of other benefits. Dive deeper into our community and unlock a world
      of possibilities for only <span>$9.99</span> a month
    </p>
    <a routerLink="/forum" class="main-button">CLICK HERE!</a>
  </section>
</div>
